<div class="car-card">
  <div>
    <h3 class='color-text'>{{@model}}</h3>
    <span class='color-light-text'>{{@licensePlate}}</span>
  </div>
  
   <img src="assets/icons/trash.svg" alt="trash" />
</div>