$primary-color: #5ca8e0;
$primary-dark-color: #4996cc;
$secondary-color: #fff;
$secondary-dark-color: #dbdbdb;
$background-color: #fff;
$text-color: #000;
$light-text-color: #7b7b7b;
$error-color: #ec2323;
$error-dark-color: #d32121;
