@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './card';
@import './car-card';
@import './colors';
@import './search-input';
@import './flex';
@import './car-form';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $text-color;
}

body {
  background-color: $primary-color;
}

button {
  border: none;
  width: 100%;
  padding: 1rem 5rem 1rem 5rem;
  border-radius: 1rem;
  cursor: pointer;

  &.primary-color {
    background-color: $primary-color;
    color: #ffffff;
    &:hover {
      background-color: $primary-dark-color;
    }
  }

  &.error-color {
    background-color: $error-color;
    color: #ffffff;
    &:hover {
      background-color: $error-dark-color;
    }
  }
}

a {
  text-decoration: none;
}

.color-primary {
  color: $primary-color;
}

.color-text {
  color: $text-color;
}

.color-light-text {
  color: $light-text-color;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.list-container {
  margin-top: 1.5rem;
  padding: 1rem;
  overflow-y: auto;
  max-height: calc(100% - 12rem);

  & > div {
    padding-bottom: 10rem;
  }

  & .car-card {
    margin-bottom: 1rem;
  }
}

.smooth-gradient {
  height: 10rem;
  width: calc(100% - 1rem);
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    360deg,
    #ffffff 21.71%,
    rgba(255, 255, 255, 0.489583) 71.58%,
    rgba(255, 255, 255, 0) 100%
  );
}
