{{page-title 'Car List'}}

<div class='container'>
  <Card>

    <h2 class='color-primary' style='margin: 1rem'>Car List</h2>

    <div style='margin: 2rem 1rem 0rem 1rem'>
      <CarForm />
    </div>

  </Card>
</div>

{{outlet}}